$white: #fff;
$btn: #931430;
$btnHover: #b4183a;
$title: #576072;
$text: #79808E;
$blue: #0067A3;
$blueHover: #00a2ff;
$bg: #2C313A;

$OpenSans: 'Open Sans', 'Arial', sans-serif;
$WorkSans: 'Work Sans', 'Arial', sans-serif;